{% extends 'base.html' %}
{% load static %}

{% block title %}Bloom | Dashboard{% endblock title %}

{% block body %}
{% if user.is_authenticated %}
    <p class="text-green-800 text-3x1">Hi {{ user.username }}!</p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <script>
        console.log("hello world")
        console.log("My name is {{ first_name }} {{ last_name }}");
    </script>
{% else %}
    <h1 class="text-green-800 text-3x1">Welcome to Bloom!</h1>
    <p class="text-green-800 text-3x1">You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock body %}
</html>